@page "/authors/update/{id:int}" //cip...47
@inject IAuthorService authorService
@inject NavigationManager navManager
@using AutoMapper
@inject IMapper _mapper
@attribute [Authorize(Roles = Roles.Administrator)] //cip...50

<h3>Edit Author</h3>
<br />
<EditForm Model="Author" OnValidSubmit="HandleUpdateAuthorAsync" FormName="UpdateAuthor">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="firstName">Firstname</label>
        <InputText id="firstName" @bind-Value="Author.FirstName" class="form-control" />
        <ValidationMessage For="@(() => Author.FirstName)" />
    </div>
    <br />
    <div class="form-group">
        <label for="lastName">Lastname</label>
        <InputText id="lastName" @bind-Value="Author.LastName" class="form-control" />
        <ValidationMessage For="@(() => Author.LastName)" />
    </div>
    <br />
    <div class="form-group">
        <label for="bio">Bio</label>
        <InputText id="bio" @bind-Value="Author.Bio" class="form-control" />
        <ValidationMessage For="@(() => Author.Bio)" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
        <span class="bi bi-pencil-fill"></span>
        Update Author
    </button>
    <button @onclick="NavigateToAuthors" class="btn btn-secondary type="button">
        <span class="bi bi-rewind-fill"></span>
        Back to list
    </button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; } //automatically binds to the route parameter

    private AuthorUpdateDto Author { get; set; } = new();

    //when the component loads, get the author details and populate the form
    override protected async Task OnInitializedAsync()
    {
        var response = await authorService.GetAsync(id);
        if (response.Success)
            Author = _mapper.Map<AuthorUpdateDto>(response.Data); //map from AuthorReadOnlyDto to AuthorUpdateDto
    }

    private async Task HandleUpdateAuthorAsync()
    {
        var response = await authorService.UpdateAsync(id, Author);
        if (response.Success)
            NavigateToAuthors();
    }

    private void NavigateToAuthors()
    {
        navManager.NavigateTo("/authors/");
    }
}
